.heroes {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart {
  padding: 4rem;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F7F8FC;
}
